<div class="container">
    <h1>List Of Employees</h1>
    <div class="row">
        <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" name="filterUser" placeholder="Buscar..." [(ngModel)]="filterUser">
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <table class="table table-striped" >
            
            <thead>
                <tr>
                <th>ID</th>
                <th>Name</th>
                <th>EMAIL</th>
                <th>COMPANY</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | filter:filterUser">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.company.name}}</td>
                    <td class="text-center ">
                        <button type="button" class="btn btn-info" 
                        [routerLink]="['/user/information', user.id]" >Info</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
